ErevXML/web/DataStorage/XMLStore.dtd

<!ELEMENT ErevMax (Trainee+,Department+)>
<!ELEMENT Trainee (ENAME,AGE,GENDER,DEPNO)>
<!ELEMENT Department (DNAME,LOCATION,ESTD)>
<!ATTLIST Trainee
    EMPNO ID #REQUIRED
    ACTION CDATA #IMPLIED
  >
<!ATTLIST Department
    DEPNO ID #REQUIRED
    EMPNOS IDREFS #IMPLIED
  >
<!ELEMENT ENAME (#PCDATA)>
<!ELEMENT AGE (#PCDATA)>
<!ELEMENT GENDER (#PCDATA)>
<!ELEMENT DEPNO (#PCDATA)>
<!ELEMENT DNAME (#PCDATA)>
<!ELEMENT LOCATION (#PCDATA)>
<!ELEMENT ESTD (#PCDATA)>
